.sidenav-container {
  height: calc(100vh - 40px) !important;
  min-height: 540px;
  background-color: white;
  border-radius: 8px !important;
  padding: 20px 20px 0px 20px !important;
  margin: 20px;
  display: flex;
  justify-content: center;
  padding: 0px;
  min-width: 100px;
  width: 20vw;
  /*width: 40%;*/
  max-width: 250px;
  overflow: hidden;
}

.justify-start {
  margin-right: auto;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  padding: 0px;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.nav-link:hover {
  background-color: #06578c;
  color: white;
}

.list {
  width: 100%;
  display: flex;
  flex-flow: column;
  /*margin-bottom: 10px;*/
  /*min-height: 55%;*/
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  width: auto;
}
::ng-deep .mat-list-base {
  padding-top: 0px !important;
}

.toolbar {
  display: flex;
  width: 100%;
}

.img-fluid {
  width: 40%;
  height: auto;
  align-self: center;
}

fa-icon {
  margin-right: 30px;
  font-size: 1.7em;
}

.profile-picture {
  width: 60px !important;
  height: 60px !important;
  border: solid 3px #06578c !important;
  border-radius: 100%;
}

.profile-box {
  width: 100%;
  margin-top: 10px;
  padding-left: 10px;
  display: flex !important;
  flex-direction: row !important;
}

.profile-name {
  align-content: center;
  align-self: center;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
  color: #555;
  display: flow;
  font-weight: 400;
  row-gap: 0;
  margin-left: 15px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: none;
  outline-width: 0;
  min-width: 100%;
  max-height: 40px;
  color: #06578c;
  background-color: #d3e1eb;
  font-family: Roboto;
  margin-top: 4vh;
  padding: 3px;
}

::placeholder {
  color: #598fb2;
}

#search {
  padding: 2px;
  border: none;
  outline-width: 0;
  background-color: #d3e1eb;
  width: 80%;
  margin: 7px 0px 7px 0px;
  color: #06578c;
  font-family: Roboto;
  font-size: 1.5em;
}

/*.search-icon {*/
/*  margin-left: 20px;*/
/*  margin-top: 7px;*/
/*  color: #598fb2;*/
/*  font-size: x-large;*/
/*}*/
.search-icon {
  margin-left: 10px;
  align-self: center;
  font-size: 1.7rem;

  color: rgba(89, 143, 178, 1);
}

.mat-form-field-infix {
  width: 400px !important;
}

.line {
  height: 1px;
  background-color: #aaa;
  width: 100%;
  margin: 25px 0px 25px 0px;
}

.link-text {
  border-radius: 8px;
  color: #06578c;
  font-size: 1.4em;
  font-family: Roboto;
  margin-top: 15px;
  margin-left: 0;
}

.center-icons {
  width: 100%;
  height: 100%;
}
.list-bottom {
  align-items: center;
  width: 100%;
  margin: auto 10px 10px;
}

.hidden-search-icon {
  display: none !important;
}

/*.link-icons {*/
/*  font-size: 1.9rem;*/
/*  margin-left: 40%*/
/*}*/

.link-icons {
  color: rgba(6, 87, 140, 1);
  display: inline-block;
  margin-left: 20px;
  font-size: 1.6rem;
  text-align: center;
  /*vertical-align: bottom;*/
}

.single-link {
  width: 100% !important;
  height: auto;
  border-radius: 8px;
  margin-top: 5px;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 3px;
  max-height: 40px;
  margin-bottom: 10px;
}

.single-link:hover {
  background-color: rgba(6, 87, 140, 1);
}

.single-link:hover .link-text {
  color: white !important;
}

.single-link:hover .link-icons {
  color: white !important;
}

button {
  padding: 0;
  margin: 0;
  padding-left: 5px;
}

.mat-icon {
  width: 20px;
}

@media only screen and (max-width: 926px) {
  .search-bar {
    display: none;
  }

  .hidden-search-icon {
    margin-top: 20px !important;
    display: block !important;
  }

  .line {
    margin-top: 10px;
  }

  .link-text {
    display: none;
  }

  .profile-name {
    display: none;
  }
  .list {
    margin-top: -5px;
  }
  .single-link {
    margin-top: 10px;
    width: 80%;
    display: block;
  }
  .link-icons {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .profile-box {
    margin-top: 60px;
  }

  .profile-picture {
    margin-left: 20%;
    width: 60% !important;
    height: auto !important;
  }
}

@media only screen and (max-height: 660px) {
  .link-icons {
    font-size: 1.3rem;
  }
}
