<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content class="content">
    <div class="toolbar">
      <!-- <img alt="logo" class="img-fluid" src="assets/logo.png" /> -->

      <!--      <div class="profile-box">-->
      <!--        <img-->
      <!--          src="../../../assets/defaultUserImg.svg"-->
      <!--          alt="profile-picture"-->
      <!--          class="profile-picture"-->
      <!--        />-->
      <img
        [size]="50"
        alt="profile-picture"
        class="profile-picture"
        ngxGravatar
        [email]=user.mail
      />
      <div class="profile-name h2">
        <a>{{ user.firstname | userName }}</a>
        <a><br />{{ user.lastname | userName }}</a>
      </div>
    </div>
    <!--    </div>-->

<!--    <form class="search-bar">-->
<!--      <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>-->

<!--      <input-->
<!--        type="text"-->
<!--        id="search"-->
<!--        name="search"-->
<!--        placeholder="Search"-->
<!--        size="11"-->
<!--      />-->
<!--    </form>-->
    <!--        <a class="single-link hidden-search-icon" href="#">
          <fa-icon [icon]="faSearch" class="link-icons" size="lg"></fa-icon>
        </a>-->

        <div class="line"></div>

        <mat-nav-list class="list text-center">
          <a class="single-link" href="#">
            <fa-icon [icon]="faInbox" class="link-icons" size="lg"></fa-icon>
            <p class="link-text">All Tenders</p>
          </a>
          <a class="single-link" href="#">
            <fa-icon [icon]="faArchive" class="link-icons" size="lg"></fa-icon>
            <p class="link-text">My Tenders</p>
          </a>
          <a class="single-link" href="#">
            <fa-icon [icon]="faCertificate" class="link-icons" size="lg"></fa-icon>
            <p class="link-text">New Tenders</p>
          </a>
          <a class="single-link" href="#">
            <fa-icon [icon]="faTrash" class="link-icons" size="lg"></fa-icon>
            <p class="link-text">Rejected</p>
          </a>
        </mat-nav-list>

        <mat-nav-list class="list-bottom">
          <a class="single-link" href="#"  (click)="refresh()">
            <fa-icon [icon]="faCog" class="link-icons" size="lg"></fa-icon>
            <p class="link-text" >Settings</p>
          </a>
        </mat-nav-list>
        <!--    &lt;!&ndash;-->
    <!--    .bottomStick{/*border-top:1px solid green;border-bottom:1px solid green;*/position:absolute; bottom:0}-->
    <!--    .bottomRelative{position:relative;}-->
    <!--    &ndash;&gt;-->
  </mat-sidenav-content>
</mat-sidenav-container>
