<mat-dialog-content id="container">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="General">
      <div id="row-flex">
        <section>
          <h3>Zeit</h3>
          <mat-nav-list>
            <mat-checkbox>Last Day</mat-checkbox>
            <mat-checkbox>Last Week</mat-checkbox>
            <mat-checkbox>Last Month</mat-checkbox>
            <mat-checkbox>Last 6 Monts</mat-checkbox>
          </mat-nav-list>
        </section>
        <section>
          <h3>Bekanntmachungsart</h3>
          <mat-nav-list>
            <mat-checkbox>Neuausschreibung</mat-checkbox>
            <mat-checkbox>Widerruf</mat-checkbox>
            <mat-checkbox>Berichtigung</mat-checkbox>
            <mat-checkbox>Fragenbeantwortung</mat-checkbox>
            <mat-checkbox>Bekanntmachung vergebender Auftrag</mat-checkbox>
          </mat-nav-list>
        </section>
        <!--        <section>-->
        <!--          <h2>Bereits zugewiesen</h2>-->
        <!--          <mat-nav-list>-->
        <!--            <mat-checkbox color="primary">Ja</mat-checkbox>-->
        <!--            <mat-checkbox color="primary">Nein</mat-checkbox>-->
        <!--          </mat-nav-list>-->
        <!--        </section>-->
        <section>
          <h3>Interner Status</h3>
          <mat-nav-list>
            <mat-checkbox>interessant</mat-checkbox>
            <mat-checkbox>uninteressant</mat-checkbox>
            <mat-checkbox>abgeschlossen</mat-checkbox>
            <mat-checkbox>opportunity assessment</mat-checkbox>
            <mat-checkbox>aufgeschoben</mat-checkbox>
          </mat-nav-list>
        </section>
      </div>
    </mat-tab>

    <mat-tab label="Unternehmen">
      <form class="example-chip-list" class="search-bar">
        <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>

        <input
          class="search"
          name="search"
          size="11"
          type="text"
          placeholder="What Companys..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />

        <mat-chip-list #chipList> </mat-chip-list>
      </form>

      <mat-chip
        class="chip-platform"
        *ngFor="let chip of chips"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(chip)"
      >
        {{ chip.name }}

        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <!--
      <mat-nav-list class="options">
        <--            <mat-checkbox *ngFor="let status of externalStatus" color="primary" >{{status}}</mat-checkbox> ->
        <mat-checkbox color="primary">TestAg1</mat-checkbox>
        <mat-checkbox color="primary">TestAg1</mat-checkbox>
        <mat-checkbox color="primary">TestAg1</mat-checkbox>
        <mat-checkbox color="primary">TestAg1</mat-checkbox>
        <mat-checkbox color="primary">TestAg1</mat-checkbox>
      </mat-nav-list>
    -->
    </mat-tab>
    <mat-tab label="Platform" class="tab-content">
      <!--  <form class="search-bar">
        <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>

        <input
          class="search"
          name="search"
          placeholder="Search"
          size="11"
          type="text"
        />
      </form>
      
      <mat-nav-list class="options">
             <--     <mat-checkbox *ngFor="let status of externalStatus" color="primary" >{{status}}</mat-checkbox> ->
      </mat-nav-list>
    -->
      <form class="example-chip-list" class="search-bar">
        <fa-icon [icon]="faSearch" class="search-icon"></fa-icon>

        <input
          class="search"
          name="search"
          size="11"
          type="text"
          placeholder="What Platforms..."
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add($event)"
        />

        <mat-chip-list #chipList> </mat-chip-list>
      </form>

      <mat-chip
        class="chip-platform"
        *ngFor="let chip of chips"
        [selectable]="selectable"
        [removable]="removable"
        (removed)="remove(chip)"
      >
        {{ chip.name }}

        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
