::ng-deep .mat-dialog-container {
  padding: 0px 24px !important;
}
.mat-dialog-content {
  padding: 0px;
  overflow: hidden;
}

mat-nav-list {
  display: flex;
  flex-direction: column;
}

mat-checkbox {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-bottom: 10px;
}

h5 {
  color: #06578c;
  font-weight: 500;
  margin-bottom: 2px;
}

/* :host ::ng-deep .mat-tab-header {
  top: 0;
  z-index: 1000;
  position: sticky;
  position: -webkit-sticky; /* macOS/iOS Safari 
} */

::ng-deep
  .mat-checkbox-checked.mat-accent
  .mat-checkbox-ripple
  .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #06578c !important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #06578c;
}

section {
  overflow-y: hidden;
  padding: 0px 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

#row-flex {
  display: flex;
  flex-flow: column;
}

.search {
  padding: 2px;
  border: none;
  outline-width: 0;
  background-color: #d3e1eb;
  width: 100%;
  margin: 7px 0px 7px 0px;
  color: #06578c;
  font-family: Roboto;
  font-size: 1.5em;
}

/*.search-icon {*/
/*  margin-left: 20px;*/
/*  margin-top: 7px;*/
/*  color: #598fb2;*/
/*  font-size: x-large;*/
/*}*/
.search-icon {
  margin: 0px 10px;
  align-self: center;
  font-size: 1.7rem;
  color: rgba(89, 143, 178, 1);
}

.search-bar {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  border: none;
  width: 100%;
  outline-width: 0;
  max-height: 40px;
  color: #06578c;
  background-color: #d3e1eb;
  font-family: Roboto;
  padding: 3px;
  overflow: hidden;
}
.search-form {
  width: 100%;
  font-size: 1.2em;
  overflow: hidden;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.8em 0 0.8em 0;
  margin: 0px;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0px;
  padding: 0px;
}
::ng-deep .mat-form-field-flex {
  margin-top: 0px !important;
}

/* 
.options {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
} 
*/

mat-tab-group {
  overflow: hidden;
  width: 100%;
}
mat-tab {
  overflow: hidden !important;
}
::ng-deep .mat-tab-label {
  width: 50%;
}

.flexible {
  display: flex;
  flex-wrap: wrap;
}
::ng-deep input.mat-chip-input {
  width: 100% !important;
  margin-bottom: 8px !important;
  margin-top: 0px !important;
}

::ng-deep .mat-tab-body-content {
  padding: 20px;
}

#search-platform {
  display: flex;
  border-radius: 8px;
  border: none;
  outline-width: 0;
  width: 100%;
  margin-left: 5%;
  max-height: 40px;
  color: #06578c;
  background-color: #d3e1eb;
  font-family: Roboto;
  margin-top: 4vh;
  overflow: hidden;
}

.chip {
  margin: 10px 10px 0px 0px;
}

.select-search {
}
