<mat-dialog-content id="container">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab class="tab-container" label="General">
      <section>
        <h5>Platform</h5>

        <mat-form-field
          color="primary"
          appearance="outline"
          class="search-form example-chip-list"
        >
          <mat-label>What Platforms...</mat-label>
          <input
            matInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event, platforms)"
          />

          <mat-chip-list #chipList> </mat-chip-list>
        </mat-form-field>
        <mat-chip
          class="chip"
          *ngFor="let platform of platforms"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(platform, platforms)"
        >
          {{ platform.name }}

          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </section>
      <section>
        <h5>Company</h5>

        <mat-form-field
          color="primary"
          appearance="outline"
          class="search-form example-chip-list"
        >
          <mat-label>What Companies...</mat-label>
          <input
            matInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event, companies)"
          />

          <mat-chip-list #chipList> </mat-chip-list>
        </mat-form-field>
        <mat-chip
          class="chip"
          *ngFor="let company of companies"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(company, companies)"
        >
          {{ company.name }}

          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </section>
      <section>
        <h5>Title</h5>

        <mat-form-field
          color="primary"
          appearance="outline"
          class="search-form example-chip-list"
        >
          <mat-label>What Titles...</mat-label>
          <input
            matInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event, titles)"
          />

          <mat-chip-list #chipList> </mat-chip-list>
        </mat-form-field>
        <mat-chip
          class="chip"
          *ngFor="let title of titles"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(title, titles)"
        >
          {{ title.name }}

          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </section>
      <div class="flexible">
        <section>
          <h5>Externer status</h5>
          <mat-form-field appearance="outline">
            <mat-label>Externer Status...</mat-label>
            <input
              type="text"
              placeholder="Einen status auswählen"
              aria-label="Externer Status"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredExternOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </section>
        <!--        <section>-->
        <!--          <h2>Bereits zugewiesen</h2>-->
        <!--          <mat-nav-list>-->
        <!--            <mat-checkbox color="primary">Ja</mat-checkbox>-->
        <!--            <mat-checkbox color="primary">Nein</mat-checkbox>-->
        <!--          </mat-nav-list>-->
        <!--        </section>-->
        <section>
          <h5>Interner Status</h5>
          <mat-form-field appearance="outline">
            <mat-label>Interner Status...</mat-label>
            <input
              type="text"
              placeholder="einen status auswählen"
              aria-label="Interner Status"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredInternOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </section>
      </div>
    </mat-tab>

    <mat-tab label="Erweitert">
      <section>
        <h5>Date Range</h5>
        <mat-form-field appearance="outline">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" />
            <input matEndDate placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
      </section>
      <section>
        <h5>Attachment Names</h5>

        <mat-form-field
          color="primary"
          appearance="outline"
          class="search-form example-chip-list"
        >
          <mat-label>What files...</mat-label>
          <input
            matInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event, files)"
          />

          <mat-chip-list #chipList> </mat-chip-list>
        </mat-form-field>
        <mat-chip
          class="chip"
          *ngFor="let file of files"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(file, files)"
        >
          {{ file.name }}

          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </section>
      <section>
        <h5>Update Details</h5>
        <mat-form-field
          color="primary"
          appearance="outline"
          class="search-form example-chip-list"
        >
          <mat-label>What update details...</mat-label>
          <input
            matInput
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event, uptDetails)"
          />

          <mat-chip-list #chipList> </mat-chip-list>
        </mat-form-field>
        <mat-chip
          class="chip"
          *ngFor="let uptDetail of uptDetails"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(uptDetail, uptDetails)"
        >
          {{ uptDetail.name }}

          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </section>
      <section>
        <h5>User</h5>
        <mat-form-field
          color="primary"
          class="example-full-width"
          appearance="outline"
        >
          <mat-label>User...</mat-label>
          <input
            type="text"
            placeholder="einen status auswählen"
            aria-label="user"
            matInput
            [formControl]="myControl"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              *ngFor="let option of filteredUserOptions | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- <form class="example-form">
          <mat-form-field
            color="primary"
            class="select-search"
            appearance="outline"
          >
            <mat-label>Task...</mat-label>
            <input
              type="text"
              placeholder="einen status auswählen"
              aria-label="user"
              matInput
              [formControl]="myControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredTaskOptions | async"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form> -->
      </section>

      <!--
      <mat-nav-list class="options">
        <--            <mat-checkbox *ngFor="let status of externalStatus" color="primary" >{{status}}</mat-checkbox> ->
        <mat-checkbox color="primary">TestAg1</mat-checkbox>
        <mat-checkbox color="primary">TestAg1</mat-checkbox>
        <mat-checkbox color="primary">TestAg1</mat-checkbox>
        <mat-checkbox color="primary">TestAg1</mat-checkbox>
        <mat-checkbox color="primary">TestAg1</mat-checkbox>
      </mat-nav-list>
    -->
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
