<mat-card class="card" matBadge="3" matBadgePosition="before"
  ><!--dynamic-->
  <mat-chip-list aria-label="Fish selection">
    <mat-chip class="tag1">Tag 1</mat-chip>
    <mat-chip>Test tag</mat-chip>
    <mat-chip class="tag3">longer test tag</mat-chip>
    <mat-chip>tag</mat-chip>
  </mat-chip-list>
  <div class="container">
    <button mat-button [matMenuTriggerFor]="menu" class="dropdown-btn">
      <fa-icon [icon]="faAngleDown" class="dropdown-icon"></fa-icon>
    </button>
    <mat-menu class="dropdown-menu" #menu="matMenu">
      <button mat-menu-item>
        <fa-icon [icon]="faUser" class="user-icon"></fa-icon>
      </button>
      <button mat-menu-item>
        <fa-icon [icon]="faTag" class="tag-icon"></fa-icon>
      </button>
    </mat-menu>
    <div class="content">
      <h4 class="title">
        Österreich-Wien: IT-Dienste: Beratung, Software-Entwicklung, Internet
        und Hilfestellung
      </h4>
      <div class="line"></div>
      <h5 class="auftragsgeber">Wiener Tourismusverband</h5>
    </div>
  </div>
</mat-card>
