<mat-card
  class="card"
  matBadge="{{ matBadge }}"
  matBadgePosition="before"
  matBadgeSize="medium"
  [matBadgeHidden]="hidden"
>
  <!--Todo external status raus-->
  <div
    class="overlayclick"
    mat-button
    (click)="openDialog()"
    type="button"
  ></div>
  <!--dynamic-->
  <!-- <mat-card class="card" matBadge="3" matBadgePosition="before" (click)="go()"
 <mat-card class="card" matBadge="3" matBadgePosition="before" (click)="go()">-->
  <mat-chip-list aria-label="Fish selection">
    <mat-chip mat-button [matMenuTriggerFor]="extern" class="extern"
      >{{ tender.latestExtStatus?.label }}
    </mat-chip>
    <mat-chip mat-button [matMenuTriggerFor]="intern" class="intern">{{
      tender.latestIntStatus.label
    }}</mat-chip>
    <mat-chip mat-button class="user"> inform </mat-chip>
    <mat-chip class="prediction"
      >{{ tender.predictionAccuracy }}%
      {{ tender.predictedIntStatus }}</mat-chip
    >
  </mat-chip-list>
  <mat-menu class="dropdown-menu" #extern="matMenu">
    <button mat-menu-item>
      <!-- <fa-icon [icon]="faUser" class="user-icon"></fa-icon> -->
      Interesting
    </button>
    <button mat-menu-item>
      <!-- <fa-icon [icon]="faTag" class="tag-icon"></fa-icon> -->
      Uninteresting
    </button>
  </mat-menu>
  <mat-menu class="dropdown-menu" #intern="matMenu"> </mat-menu>

  <div class="container">
    <div class="content">
      <h4 class="title">
        {{ tender.name }}
      </h4>
      <div class="line"></div>
      <h5 class="auftragsgeber">{{ tender.description }}</h5>
    </div>

    <!-- <button mat-button [matMenuTriggerFor]="menu" class="dropdown-btn">
      <fa-icon [icon]="faAngleDown" class="dropdown-icon"></fa-icon>
    </button> -->
    <mat-checkbox color="primary" class="read-checkbox"></mat-checkbox>
  </div>
</mat-card>
