
<body>
<div class="login-body">
  <form class="login-form" (ngSubmit)="login()">
    <h1 id="login-header">Login</h1>
    <mat-form-field class="login-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput type="email" [(ngModel)]="mail"
             [formControl]="emailFormControl" placeholder="Please enter your email">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="login-field" appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" [(ngModel)]="password"
             [formControl]="pwdFormControl" placeholder="Please enter your password">
      <mat-error *ngIf="pwdFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-stroked-button color="primary" type="submit"
            class="login-button">Log in
    </button>
    <div class="checkbox mb-3 text-danger" style="color: red" *ngIf="loginError">
      Login failed. Please try again.
    </div>
  </form>
</div>
</body>


<!--


<form class="form-signin" (ngSubmit)="login()">
  <div class="form-label-group">
    <input
      type="text"
      id="userName"
      name="username"
      [(ngModel)]="username"
      class="form-control"
      placeholder="Username"
      required
      autofocus
    />
    <label for="userName">Username</label>
  </div>
  <div class="form-label-group">
    <input
      type="password"
      id="inputPassword"
      name="password"
      [(ngModel)]="password"
      class="form-control"
      placeholder="Password"
      required
    />
    <label for="inputPassword">Password</label>
  </div>

  <div class="checkbox mb-3 text-danger" *ngIf="loginError">
    Login failed. Please try again.
  </div>
  <button
    type="submit"
    class="btn btn-lg btn-primary btn-block"
    [disabled]="busy"
  >
    Sign in
  </button>

  <div class="small text-secondary mt-3 d-none d-sm-flex">
    <strong>Example logins:</strong>
    <ul>
      <li>admin: securePassword</li>
      <li>test1: password1</li>
      <li>test2: password2</li>
    </ul>
  </div>
</form>
-->
