/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body,
app-root {
  /*font-size: 1.5vw;*/
  font-size: 12px;
  background-color: whitesmoke;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}
