#popup-card {
  position: relative;
  display: flex;
  width: 100%;
}

.dialog {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-height: 100%;
  margin: 0px;
  padding: 0px 10px;
}

.card {
  box-shadow: none;
  border-radius: 8px;
  padding: 0px 20px 0px 20px;
}
mat-toolbar {
  background-color: white;
  padding: 20px 0px 15px 0px;
  height: auto;
  color: #06568c;
  position: -webkit-sticky; /* Safari & IE */
  position: sticky;
  top: 0px;
  z-index: 1;
}
.close {
  font-size: x-large;
  padding: 0px;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
#far-right {
  margin-left: auto;
  margin-right: 0px !important;
}

a {
  text-decoration: none !important;
  border: none !important;
  outline: none !important;
}

::ng-deep .mat-dialog-container {
  padding: 0px !important;
  overflow: hidden;
}

::ng-deep .mat-tooltip {
  font-size: small !important;
}

.title {
  color: #555;
  font-weight: bold;
  font-size: large;
}
.info {
  color: #555;
  font-size: large;
  margin: 0px 0px 1.2em 0px;
  line-height: 1.5;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #aaa;
  margin: 20px 0 20px 0px;
}

.line-modified {
  width: 100%;
  height: 1px;
  background-color: #aaa;
  margin: 0 0 0 0;
}
.flexbox-assignment {
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.assignment-list {
  margin-top: 10px;
}

#create-assign,
.assign {
  background-color: #e0e0e0;
}
#create-assign {
  padding: 0 7px;
}

.info-title {
  color: #598fb2;
  font-weight: bold;
}

h2 {
  margin-left: auto;
  margin-right: 20px;
  color: #06578c;
}
/*
.limitTextHeight {
  height: 20px;
  overflow: hidden;
}

#more-btn {
  font-weight: bold;
  color: #555;
  background-color: #f5f5f5;
} */

.mat-list-item {
  height: 2.2em !important;
}

.icons {
  color: #06578c;
  margin-right: 10px;
}

::ng-deep .mat-tooltip {
  color: #555 !important;
  background-color: #d3e1eb;
  font-weight: bold;
}

a {
  text-decoration: none;
}

mat-chip-list {
  display: flex;
  flex-direction: row;
}

:host ::ng-deep .mat-chip-list-wrapper mat-chip {
  padding: 0 10px;
  font-size: small;
  height: auto !important;
}

::ng-deep .mat-standard-chip {
  min-height: 25px !important;
  color: #555;
}

.mat-chip {
  color: #555 !important;
  z-index: initial !important;
}

#add-user-btn {
  background-color: #d3e1eb;
}

.intern,
.extern {
  background-color: #d3e1eb;
}

.users {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

.main {
  overflow-y: auto;
}

.head {
  background-color: white;
}

.file {
  padding: 0px !important;
}

::ng-deep .mat-tooltip {
  color: #fff !important;
  background-color: #55555570;
  font-weight: bold;
}

#history-btn-disabled,
#history-btn-disabled > * {
  color: #555555ad !important;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.4rem;
  }
  .info {
    color: #555;
    font-size: 1.3rem;
  }
}
