<mat-dialog-content class="mat-typography dialog">
  <mat-card class="card">
    <div class="content">
      <mat-toolbar>
        <!-- [routerLink]="['/history', data.id]"-->
        <a *ngIf="hasUpdates"
           (click)="changeRoute()" id="history-btn"
        >
          <fa-icon [icon]="faArrowLeft" class="icons"></fa-icon>
          History</a
        >
        <a
          *ngIf="!hasUpdates"
          id="history-btn-disabled"
          #tooltip="matTooltip"
          matTooltip="Keine Updates vorhanden"
          matTooltipPosition="right"
          aria-tooltip="Button that routes to the history view of this tender"
        >
          <fa-icon [icon]="faArrowLeft" class="icons"></fa-icon>
          History</a
        >

        <div id="far-right">
          <fa-icon
            [icon]="faTimes"
            (click)="closeDialog()"
            class="icons close"
          ></fa-icon>
        </div>
      </mat-toolbar>
      <div class="head">
        <h4 class="title">
          {{ data.name }}
        </h4>
        <mat-chip-list aria-label="externer status">
          <mat-chip mat-button class="extern">
            {{ data.latestExtStatus.label }}
          </mat-chip>
          <mat-chip mat-button [matMenuTriggerFor]="intern" class="intern">
            {{ data.latestIntStatus.label }}
          </mat-chip>
        </mat-chip-list>

        <!--        <mat-chip-list aria-label="user" class="users">-->
        <!--          &lt;!&ndash; so viele user können assigned werden wie gewünscht (nacharbeiten) &ndash;&gt;-->
        <!--          <mat-chip mat-button class="user" matTooltip="watch">-->
        <!--            Oliver Sommer-->
        <!--          </mat-chip>-->
        <!--          <mat-chip mat-button class="user" matTooltip="observe">-->
        <!--            Luis Kalckstein-->
        <!--          </mat-chip>-->
        <!--          <mat-chip mat-button class="user" matTooltip="inform">-->
        <!--            Dominik Fluch-->
        <!--          </mat-chip>-->
        <!--          <mat-chip mat-button matTooltip="Assign a user" id="add-user-btn"-->
        <!--            >+</mat-chip-->
        <!--          >-->
        <!--        </mat-chip-list>-->

        <!--<div class="info-box">
           <span class="info info-title">Assignments</span>
           <div class="line"></div>
           <div class="container-list">
             <h5 class="assignment" *ngFor="let assignment of assignments">
               <span class="key-title">{{assignment.key}}: </span>
               {{ assignment.value }}
             </h5>
           </div>
         </div>-->

        <mat-chip-list aria-label="assignment" class="assignment-list">
          <mat-chip
            mat-button
            class="assign"
            *ngFor="let ass of assignments"
          >
            <div class="flexbox-assignment">
              {{ ass.user.mail ?? ass.user}}
              <div class="line-modified"></div>
              {{ ass.instruction ?? "no instruction"}}
            </div>
          </mat-chip>
          <mat-chip mat-button (click)="openDialog()" id="create-assign">
            <div class="flexbox-assignment">+</div>
          </mat-chip>
        </mat-chip-list>
        <mat-menu class="dropdown-menu" #intern="matMenu">
          <button mat-menu-item *ngFor="let intStat of data.intStatusTransitions" (click)="changeIntStatus(intStat)">
            {{ intStat.label }}
          </button>
        </mat-menu>
        <div class="line"></div>
        <div class="main">
          <h5 class="info">
            <span class="info-title">Dokumentennummer:</span>
            {{ data.documentNumber }}
          </h5>

          <h5 class="info">
            <span class="info-title">Bekanntmachnugsart:</span> {{data.latestExtStatus.label}}
          </h5>
          <h5 class="info">
            <span class="info-title">Auftragsgeber:</span> {{data.company.name}}
          </h5>
          <!-- <h5 class="info" [ngClass]="{ limitTextHeight: isReadMore }"> -->
          <h5 class="info">
            <span class="info-title">Beschreibung:</span>
            {{ data.description }}
          </h5>
          <!--
          <button mat-flat-button id="more-btn" type="button" (click)="showText()">
            {{ isReadMore ? "Read More" : "Read Less" }}
          </button> -->

        </div>
      </div>
    </div>
  </mat-card>

  <!--  <a class="close-button">X</a>-->

  <!-- <div id="popup-card">
    <div id="card-header">
      <div id="card-title">
        <div class="badge">
          <a>3</a>
        </div>
        <a class="card-title-text" (click)="go()">See History</a>
        <fa-icon
          [icon]="faArrowRight"
          class="dropdown-icon"
          id="history-link-arrow"
        ></fa-icon>
      </div>

      <div class="card-main-heading">
        <a id="card-project-title"
          >Österreich-Wien: IT-Dienste: Beratung, Software-Entwicklung, Internet
          und Hilfestellung</a
        >

        <mat-chip-list aria-label="Fish selection" class="card-tags">
          <mat-chip class="extern">Externer status</mat-chip>
          <mat-chip class="intern">Interner status</mat-chip>
        </mat-chip-list>
        <div class="line"></div>
      </div>
      <div class="card-content">
        <div class="card-content-schrift">
          <a class="blue-text">Auftragsgeber:</a>
          <a class="grey-text">Wiener Trousimusverband</a>
        </div>
        <div class="card-content-schrift">
          <a class="blue-text">Veräfentlichung:</a>
          <a class="grey-text">27.10.2021</a>
        </div>
        <div class="card-content-schrift">
          <a class="blue-text">Dokumentennummer:</a>
          <a class="grey-text">EU546015-2021</a>
        </div>
        <div class="card-content-schrift">
          <a class="blue-text">Bekanntmachnugsart:</a>
          <a class="grey-text"
            >Kerndaten für die Bekanntmachung von zu vergebenden Aufträgen,
            Rahmenvereinbarungen und die Einrichtung bzw. Einstellung von
            dynamischen Beschaffungssystemen (Anhang VIII, 1. Abschnitt, Z 2
            BVergG 2018)</a
          >
        </div>
        <div class="card-content-schrift">
          <a class="blue-text">Beschreibung:</a>
          <a class="grey-text">
            1060 Wien, Lehargasse 6, Obj. 11 - : Abbruch und Neubau BT BF (ehem.
            BT BD Tonne) / Beleuchtung, Gegenstand dieses
            Leistungsverzeichnisses sind sämtliche Leistungen über die
            Herstellung der Beleuchtung zur Errichtung des Institutsgebäudes BF
            für die Fakultät Maschinenwesen und Betriebswissenschaften an der TU
            Wien auf dem Areal Getreidemarkt, in der L</a
          >
        </div>
      </div>
    </div>
  </div> -->

  <!--<mat-card id="popup-card" matBadge="X" matBadgePosition="after">-->
  <!--  <mat-card-header id="card-header">-->
  <!--    <mat-card-title id="card-title">-->
  <!--      <div class="badge">-->
  <!--        <a>3</a>-->
  <!--      </div>-->
  <!--      <a class="card-title-text">See History</a>-->
  <!--      <fa-icon [icon]="faArrowRight" class="dropdown-icon" id="history-link-arrow"></fa-icon>-->
  <!--      &lt;!&ndash;   on click TODO&ndash;&gt;-->
  <!--    </mat-card-title>-->
  <!--    <div class="card-main-heading">-->

  <!--      <a id="card-project-title">Österreich-Wien: IT-Dienste: Beratung, Software-Entwicklung, Internet und-->
  <!--        Hilfestellung</a>-->

  <!--      <mat-chip-list aria-label="Fish selection" class="card-tags">-->
  <!--        <mat-chip class="tag1">Tag 1</mat-chip>-->
  <!--        <mat-chip>Test tag</mat-chip>-->
  <!--        <mat-chip class="tag3">longer test tag</mat-chip>-->
  <!--        <mat-chip>tag</mat-chip>-->
  <!--      </mat-chip-list>-->

  <!--      <div class="line"></div>-->
  <!--    </div>-->

  <!--  </mat-card-header>-->
  <!--  <mat-card-content>-->
  <!--    <div class="card-content-schrift">-->
  <!--      <a></a>-->
  <!--    </div>-->
  <!--  </mat-card-content>-->

  <!--</mat-card>-->
</mat-dialog-content>
