<div class="main">
  <app-sidebar></app-sidebar>
<!--<app-navbar></app-navbar>-->
  <div class="main-content">
    <mat-toolbar>
      <button (click)="toggleSort()" [matMenuTriggerFor]="menu" id="sortby-btn" mat-flat-button>
        Sort By
        <fa-icon [icon]="faSort" class="sortby-icon"
                 type="button"></fa-icon>
      </button>

      <mat-menu #menu="matMenu"  overlapTrigger="false" >
        <div id="sort-menu">
        <button mat-button *ngFor="let sort of sorts" class="sorts"[value]="sort"  (click)="setSorting(sort)" id="sort-options">
          <div *ngIf="isSort(sort)" style="color: #2b709d">{{sort}}</div>
          <div *ngIf="!isSort(sort)">{{sort}}</div>
        </button>
        </div>
      </mat-menu>


      <button id="filter-btn" (click)="openDialog()" mat-flat-button>
        Filter
        <fa-icon  [icon]="faFilter" class="filter-icon"
                  type="button"></fa-icon>
      </button>
      <h2>
        All Tenders
        <!-- dynamic-->
      </h2>
    </mat-toolbar>
    <app-tenders></app-tenders>



  </div>
</div>
