<div class="main">
  <app-sidebar></app-sidebar>
  <div class="main-content">
    <mat-toolbar>
      <a href="#"
        ><fa-icon [icon]="faArrowLeft" class="icons"></fa-icon>Go Back</a
      >
      <h2>
        History
        <!-- dynamic-->
      </h2>
    </mat-toolbar>
    <div class="container">
      <mat-card class="card">
        <div class="content">
          <h4 class="title">test</h4>
          <div class="line"></div>
          <h5 class="info">
            <span class="info-title">Dokumentennummer:</span> #1234
          </h5>

          <h5 class="info">
            <span class="info-title">Bekanntmachnugsart:</span> Bekanntmachnug
          </h5>
          <h5 class="info">
            <span class="info-title">Auftragsgeber:</span> Wiener
            Tourismusverband
          </h5>
          <h5 class="info" [ngClass]="{ limitTextHeight: isReadMore }">
            <span class="info-title">Beschreibung:</span>
            Example demo fetched from database
          </h5>

          <button
            mat-flat-button
            id="more-btn"
            type="button"
            (click)="showText()"
          >
            {{ isReadMore ? "Read More" : "Read Less" }}
          </button>
        </div>
      </mat-card>
      <!-- dynamic -->
      <form [formGroup]="formGroup">
        <mat-stepper
          class="stepper"
          orientation="vertical"
          formArrayName="form"
        >
          <mat-step
            [completed]="false"
            [formGroupName]="i"
            *ngFor="let customerGroup of refArray.controls; let i = index"
          >
            <ng-template matStepLabel>02.09.2021</ng-template>
            <ng-template ="done"></ng-template>
            <ng-template matStepContent>
              <h5 class="info">
                <span class="info-title">Details:</span> Lorem ipsum dolor sit
                amet consectetur adipisicing elit. Maxime mollitia, molestiae
                quas vel sint commodirepudiandae consequuntur voluptatum laborum
                numquam blanditiis harum quisqua
              </h5>
              <h5 class="info">
                <span class="info-title">Anhänge:</span>
                <mat-list>
                  <a mat-list-item
                    ><fa-icon [icon]="faFileAlt" class="icons"></fa-icon
                    >dummy1.pdf</a
                  >
                  <a mat-list-item
                    ><fa-icon [icon]="faFileAlt" class="icons"></fa-icon
                    >dummy2.pdf
                  </a>
                </mat-list>
              </h5>
            </ng-template>
          </mat-step>
        </mat-stepper>
      </form>
      <!-- <button mat-raised-button (click)="addItem()">add item</button> -->
    </div>
  </div>
</div>

<!--
  <mat-stepper class="stepper" orientation="vertical">
        <mat-step [completed]="false">
          <ng-template matStepLabel>02.09.2021</ng-template>
          <ng-template ="done"></ng-template>
          <ng-template matStepContent>
            <h5 class="info">
              <span class="info-title">Details:</span> Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Maxime mollitia, molestiae quas
              vel sint commodirepudiandae consequuntur voluptatum laborum
              numquam blanditiis harum quisqua
            </h5>
            <h5 class="info">
              <span class="info-title">Anhänge:</span>
              <mat-list>
                <a mat-list-item
                  ><fa-icon [icon]="faFileAlt" class="icons"></fa-icon
                  >dummy1.pdf</a
                >
                <a mat-list-item
                  ><fa-icon [icon]="faFileAlt" class="icons"></fa-icon
                  >dummy2.pdf
                </a>
              </mat-list>
            </h5>
          </ng-template>
        </mat-step>
        <mat-step [completed]="false">
          <ng-template matStepLabel>11.10.2021</ng-template>
          <ng-template matStepContent>
            <h5 class="info">
              <span class="info-title">Details:</span> Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Maxime mollitia, molestiae quas
              vel sint commodirepudiandae consequuntur voluptatum laborum
              numquam blanditiis harum quisqua
            </h5>
            <h5 class="info">
              <span class="info-title">Anhänge:</span>
              <mat-list>
                <a mat-list-item
                  ><fa-icon [icon]="faFileAlt" class="icons"></fa-icon
                  >dummy1.pdf</a
                >
                <a mat-list-item
                  ><fa-icon [icon]="faFileAlt" class="icons"></fa-icon
                  >dummy2.pdf
                </a>
              </mat-list>
            </h5>
          </ng-template>
        </mat-step>
        <mat-step [completed]="false">
          <ng-template matStepLabel>27.10.2021</ng-template>
          <ng-template matStepContent>
            <h5 class="info">
              <span class="info-title">Details:</span> Lorem ipsum dolor sit
              amet consectetur adipisicing elit. Maxime mollitia, molestiae quas
              vel sint commodirepudiandae consequuntur voluptatum laborum
              numquam blanditiis harum quisqua
            </h5>
            <h5 class="info">
              <span class="info-title">Anhänge:</span>
              <mat-list>
                <a mat-list-item
                  ><fa-icon [icon]="faFileAlt" class="icons"></fa-icon
                  >dummy1.pdf</a
                >
                <a mat-list-item
                  ><fa-icon [icon]="faFileAlt" class="icons"></fa-icon
                  >dummy2.pdf
                </a>
              </mat-list>
            </h5>
          </ng-template>
        </mat-step>
      </mat-stepper>
-->
